
/* 14 sales */

#coupon_container {
    .entry-edit {
        min-width: 310px;
    }
}
.payment-methods {
    & dt {
        margin-bottom: 3px;
    }
    & dd {
        margin-left: 20px;
    }
    .validation-advice {
        margin-left: 2px;
    }
}
.cards-list {
    .offset {
        margin-left: 10px;
    }
    .info-table {
        & td {
            padding: 2px 7px 2px 0;
            text-align: left;
            vertical-align: top;
        }
    }
}
.release-amounts {
    margin: 0.5em 0;
}

/* 15 catalog */
.website-name {
    .checkbox {
        vertical-align: top;
        margin-top: 2px;
    }
}
.webiste-groups {
    padding: 10px 20px;
}
.group-stores {
    padding: 2px 10px;
}

/* 18 system */
.comment {
    padding: 5px;
    & a {
        color: #888;
        margin-left: 3px;
    }
}

#profile-generator {
    & select {
        width: 207px;
    }
    & input.input-text {
        width: 200px;
    }

}

.order-history {
    width: 70%;
    margin-right: 27px;
}


/* === Packaging === */
.packaging-window {
    /*
    .validation-failed {
        background: #fef0eD;
        border: 1px dashed #D6340E;
    }
    .packaging-content {
        overflow: auto;
        height: auto !important;
        max-height: 400px;
        margin: 0 0 10px;
        padding: 10px 10px 0;
    }
    .package-block {
        background: #f6f6f6;
        border: 2px solid #d4d4d4;
        margin: 0 0 10px;
        padding: 10px;
    }
    */
    .package-options {
        width: 100%;
        border-spacing: 4px;
        border-collapse: separate;
        td {
            vertical-align: middle;
            text-wrap: nowrap;
        }
        select {
            width: 100%;
            &.options-content-type {
                width: 150px;
            }
            &.options-units-weight, &.options-units-dimensions {
                width: 56px;
            }
        }
        input.input-text {
            width: 100px;
            &.customs-value {
                width: 80px;
            }
            &.options-weight {
                width: 80px;
            }
            &.options-dimensions {
                width: 80px;
            }
        }
    }
}
.packed-window {
    .entry-edit-head {
        padding: 3px 5px;
    }
    .packed-content {
        padding: 10px 10px 0;
        overflow: auto;
        max-height: 400px;
    }
    .package {
        background: #fefefe;
        border: 7px solid #d5d5d5;
        margin-bottom: 10px;
        padding: 10px;
        & h4 {
            background: #fefefe;
            border: solid #ccc;
            border-width: 0 0 1px 1px;
            float: right;
            color: #222;
            font-size: 12px;
            margin: -10px -10px 0 0;
            padding: 5px 10px;
            position: relative;
            z-index: 100;
        }
        & strong {
            display: block;
            padding: 0 0 3px;
        }
        .grid {
            padding: 0;
        }
    }
    .package-info {
        background: #f3f3f3;
        border-bottom: 1px solid #ccc;
        margin: -10px -10px 10px;
        padding: 5px 10px;
        position: relative;
    }
    .package-options {
        width: 60%;
        td, th {
            padding: 1px 0;
        }
    }
    .buttons-set {
        padding-right: 5px;
    }
}

/* === Newsletter === */
.cms-revision-preview {
    height: 100%;
    & iframe {
        width: 100%;
        height: 91%;
        border: 0;
    }
}
.template-preview {
    width: 100%;
    height: 200px;
    background-color: #fff;
}


/*
Used in:
- CMS > Widgets > Layout Updates
- Catalog > Product > Edit > Custom Options
*/

.option-box + .option-box, .options-box + .options-box {
    border-top: 1px solid var(--maho-box-border-color);
    margin-top: 16px;
    padding-top: 16px;
}

.option-box {
    .option-title {
        display: flex;
        align-items: baseline;
        gap: 8px;
        padding-bottom: 8px;

        label {
            order: -1;
            font-weight: bold;
        }
        button {
            order: 100;
        }
        select {
            width: 260px;
            margin-right: auto;
        }
    }
    .option-header {
        padding-bottom: 8px;

        &:has(th.a-right), th.a-right {
            width: 100%;
        }
        th {
            white-space: nowrap;
            padding: 2px 4px;
        }
        td {
            padding: 4px;
        }
        th:first-of-type, td:first-of-type {
            padding-left: 0;
        }
    }
    .type-title {
        width: auto;
    }
    .type-price {
        width: 60px;
    }
    .type-type {
        width: 80px;
    }
    .type-uqty {
        width: 100px;
    }
    .type-sku {
        width: 150px;
    }
    .type-order {
        width: 60px;
    }
    .type-butt {
        width: 33px;
    }
    .type-last {
        width: auto;
        input.input-text {
            width: 60px !important;
        }
    }
    input.type-sku {
        width: 150px;
    }
}




/* Delete this */
.product-configure-popup {
    background: #fafafa;
    border: 1px solid #d6d6d6;
    left: 50%;
    margin: 0 0 0 -271px;
    position: fixed;
    top: 50%;
    width: 540px;
    z-index: 400;

    .content {
        max-height: 400px;
        overflow: auto;
    }
}
