<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../../lib/Maho/Schema/config.xsd">
    <modules>
        <Maho_Intelligence>
            <version>1.0.0</version>
        </Maho_Intelligence>
    </modules>
    <global>
        <helpers>
            <intelligence>
                <class>Maho_Intelligence_Helper</class>
            </intelligence>
        </helpers>
        <models>
            <intelligence>
                <class>Maho_Intelligence_Model</class>
            </intelligence>
        </models>
    </global>
</config>
