# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

# PhpStorm
.idea

# Maho config
/app/etc/local.xml

# CM Redis
/app/code/community/Cm
/app/etc/modules/Cm_RedisSession.xml
/lib/Credis

# pub
/pub/js/tinymce
/pub/media/*
!/pub/media/.htaccess
!/pub/media/custom_options/.htaccess
!/pub/media/customer/.htaccess
!/pub/media/dhl/logo.jpg
!/pub/media/downloadable/.htaccess

/var/*
!/var/.htaccess

# composer
/vendor

# .phar (n98-magerun, ...)
*.phar

# PHP-CS-Fixer
.php-cs-fixer.cache
.php-cs-fixer*
!.php-cs-fixer.dist.*

.phpcs*.xml
!.phpcs*.xml.dist

phpstan*.neon
!phpstan.dist.*.neon
