# IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.planning/

# Maho stuff
/app/etc/local.xml*
!/app/etc/local.xml.template

/public/media/*
!/public/media/.htaccess
!/public/media/custom_options/.htaccess
!/public/media/customer/.htaccess
!/public/media/dhl/logo.jpg
!/public/media/downloadable/.htaccess

/var/*
!/var/.htaccess

# Composer
/vendor

# PHP-CS-Fixer
.php-cs-fixer.cache

# PHPStan
.phpstan.cache
.phpstan*.neon
phpstan*.neon
!.phpstan.dist*.neon
