includes:
    - .phpstan.dist.baseline.neon
    - vendor/mahocommerce/maho-phpstan-plugin/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    strictRules:
        allRules: false
        matchingInheritedMethodNames: true
        disallowedBacktick: true

    level: 6
    tmpDir: .phpstan.cache
    reportUnmatchedIgnoredErrors: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    checkMissingOverrideMethodAttribute: true
    treatPhpDocTypesAsCertain: false
    reportMaybesInPropertyPhpDocTypes: true

    # Disable strict-rules parameters that aren't controlled by allRules
    reportMaybesInMethodSignatures: false
    fileExtensions:
        - php
        - phtml

    paths:
        - app
        - lib
        - maho
        - public

    ignoreErrors:
        - identifier: missingType.iterableValue
