<?xml version="1.0"?>
<!--
/**
 * Maho
 *
 * @package    Mage_Reports
 * @copyright  Copyright (c) 2006-2020 Magento, Inc. (https://magento.com)
 * @copyright  Copyright (c) 2021-2023 The OpenMage Contributors (https://openmage.org)
 * @copyright  Copyright (c) 2024-2026 Maho (https://mahocommerce.com)
 * @license    https://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Mage_Reports>
            <version>1.6.0.0.1</version>
        </Mage_Reports>
    </modules>
    <global>
        <models>
            <reports>
                <class>Mage_Reports_Model</class>
                <resourceModel>reports_resource</resourceModel>
            </reports>
            <reports_resource>
                <class>Mage_Reports_Model_Resource</class>
                <entities>
                    <event>
                        <table>report_event</table>
                    </event>
                    <event_type>
                        <table>report_event_types</table>
                    </event_type>
                    <compared_product_index>
                        <table>report_compared_product_index</table>
                    </compared_product_index>
                    <viewed_product_index>
                        <table>report_viewed_product_index</table>
                    </viewed_product_index>
                    <viewed_aggregated_daily>
                        <table>report_viewed_product_aggregated_daily</table>
                    </viewed_aggregated_daily>
                    <viewed_aggregated_monthly>
                        <table>report_viewed_product_aggregated_monthly</table>
                    </viewed_aggregated_monthly>
                    <viewed_aggregated_yearly>
                        <table>report_viewed_product_aggregated_yearly</table>
                    </viewed_aggregated_yearly>
                </entities>
            </reports_resource>
        </models>
        <resources>
            <reports_setup>
                <setup>
                    <module>Mage_Reports</module>
                </setup>
            </reports_setup>
        </resources>
    </global>
    <admin>
        <translate>
            <modules>
                <Mage_Reports>
                    <files>
                        <default>Mage_Reports.csv</default>
                    </files>
                </Mage_Reports>
            </modules>
        </translate>
    </admin>
    <frontend>
        <translate>
            <modules>
                <Mage_Reports>
                    <files>
                        <default>Mage_Reports.csv</default>
                    </files>
                </Mage_Reports>
            </modules>
        </translate>
        <layout>
            <updates>
                <reports>
                    <file>reports.xml</file>
                </reports>
            </updates>
        </layout>
    </frontend>
    <default>
        <catalog>
            <recently_products>
                <scope>website</scope>
                <enabled_recently_viewed>1</enabled_recently_viewed>
                <viewed_count>5</viewed_count>
                <enabled_product_compare>1</enabled_product_compare>
                <compared_count>5</compared_count>
            </recently_products>
        </catalog>
        <reports>
            <general>
                <enabled>1</enabled>
            </general>
            <dashboard>
                <ytd_start>1,1</ytd_start>
                <mtd_start>1</mtd_start>
            </dashboard>
            <crontab>
                <viewed_expr>0 0 * * *</viewed_expr>
            </crontab>
        </reports>
    </default>
</config>
