<?xml version="1.0"?>
<!--
SPDX-FileCopyrightText: 2022 The OpenMage Contributors <https://openmage.org>
SPDX-FileCopyrightText: 2006-2020 Magento, Inc. <https://magento.com>
SPDX-License-Identifier: AFL-3.0
-->
<config>
    <modules>
        <Mage_Rating>
            <version>2.0.0</version>
        </Mage_Rating>
    </modules>
    <global>
        <models>
            <rating>
                <class>Mage_Rating_Model</class>
                <resourceModel>rating_resource</resourceModel>
            </rating>
            <rating_resource>
                <class>Mage_Rating_Model_Resource</class>
                <entities>
                    <rating>
                        <table>rating</table>
                    </rating>
                    <rating_store>
                        <table>rating_store</table>
                    </rating_store>
                    <rating_title>
                        <table>rating_title</table>
                    </rating_title>
                    <rating_entity>
                        <table>rating_entity</table>
                    </rating_entity>
                    <rating_option>
                        <table>rating_option</table>
                    </rating_option>
                    <rating_option_vote>
                        <table>rating_option_vote</table>
                    </rating_option_vote>
                    <rating_vote_aggregated>
                        <table>rating_option_vote_aggregated</table>
                    </rating_vote_aggregated>
                </entities>
            </rating_resource>
        </models>
        <blocks>
            <rating>
                <class>Mage_Rating_Block</class>
            </rating>
        </blocks>
    </global>
    <frontend>
        <translate>
            <modules>
                <Mage_Rating>
                    <files>
                        <default>Mage_Rating.csv</default>
                    </files>
                </Mage_Rating>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Rating>
                    <files>
                        <default>Mage_Rating.csv</default>
                    </files>
                </Mage_Rating>
            </modules>
        </translate>
    </adminhtml>
</config>
