<?xml version="1.0"?>
<!--
/**
 * Maho
 *
 * @package    Mage_Index
 * @copyright  Copyright (c) 2006-2020 Magento, Inc. (https://magento.com)
 * @copyright  Copyright (c) 2021-2023 The OpenMage Contributors (https://openmage.org)
 * @license    https://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Mage_Index>
            <version>1.6.0.0</version>
        </Mage_Index>
    </modules>
    <global>
        <helpers>
            <index>
                <class>Mage_Index_Helper</class>
            </index>
        </helpers>
        <models>
            <index>
                <class>Mage_Index_Model</class>
                <resourceModel>index_resource</resourceModel>
            </index>
            <index_resource>
                <class>Mage_Index_Model_Resource</class>
                <entities>
                    <event>
                        <table>index_event</table>
                    </event>
                    <process>
                        <table>index_process</table>
                    </process>
                    <process_event>
                        <table>index_process_event</table>
                    </process_event>
                </entities>
            </index_resource>
        </models>
        <resources>
            <index_setup>
                <setup>
                    <module>Mage_Index</module>
                    <class>Mage_Index_Model_Resource_Setup</class>
                </setup>
            </index_setup>
        </resources>
        <index>
            <lock>
                <storage>
                    <model>index/lock_storage_db</model>
                </storage>
            </lock>
            <index_model>index/indexer</index_model>
            <indexer>

            </indexer>
        </index>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <index>
                    <file>index.xml</file>
                </index>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mage_Index>
                    <files>
                        <default>Mage_Index.csv</default>
                    </files>
                </Mage_Index>
            </modules>
        </translate>
    </adminhtml>
</config>
