<?xml version="1.0"?>
<config>
    <modules>
        <Maho_CustomerSegmentation>
            <version>1.0.0</version>
        </Maho_CustomerSegmentation>
    </modules>
    <global>
        <models>
            <customersegmentation>
                <class>Maho_CustomerSegmentation_Model</class>
                <resourceModel>customersegmentation_resource</resourceModel>
            </customersegmentation>
            <customersegmentation_resource>
                <class>Maho_CustomerSegmentation_Model_Resource</class>
                <entities>
                    <segment>
                        <table>customer_segment</table>
                    </segment>
                    <segment_customer>
                        <table>customer_segment_customer</table>
                    </segment_customer>
                </entities>
            </customersegmentation_resource>
        </models>
        <resources>
            <maho_customersegmentation_setup>
                <setup>
                    <module>Maho_CustomerSegmentation</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </maho_customersegmentation_setup>
        </resources>
        <blocks>
            <customersegmentation>
                <class>Maho_CustomerSegmentation_Block</class>
            </customersegmentation>
        </blocks>
        <helpers>
            <customersegmentation>
                <class>Maho_CustomerSegmentation_Helper</class>
            </customersegmentation>
        </helpers>
        <events>
            <salesrule_rule_condition_combine>
                <observers>
                    <customersegmentation_add_condition>
                        <class>customersegmentation/observer_priceRule</class>
                        <method>addSegmentConditionToSalesRule</method>
                    </customersegmentation_add_condition>
                </observers>
            </salesrule_rule_condition_combine>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Maho_CustomerSegmentation before="Mage_Adminhtml">Maho_CustomerSegmentation_Adminhtml</Maho_CustomerSegmentation>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <customersegmentation>
                    <file>customersegmentation.xml</file>
                </customersegmentation>
            </updates>
        </layout>
        <translate>
            <modules>
                <Maho_CustomerSegmentation>
                    <files>
                        <default>Maho_CustomerSegmentation.csv</default>
                    </files>
                </Maho_CustomerSegmentation>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <customersegmentation_refresh_segments>
                <schedule>
                    <config_path>customer/customer_segments/cron_schedule</config_path>
                </schedule>
                <run>
                    <model>customersegmentation/cron::refreshSegments</model>
                </run>
            </customersegmentation_refresh_segments>
        </jobs>
    </crontab>
    <default>
        <customer>
            <customer_segments>
                <cron_schedule>0 5 * * *</cron_schedule>
            </customer_segments>
        </customer>
    </default>
</config>
