<?xml version="1.0"?>
<!--
/**
 * Maho
 *
 * @category   Maho
 * @package    Maho_CustomerSegmentation
 * @copyright  Copyright (c) 2025-2026 Maho (https://mahocommerce.com)
 * @license    https://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Maho_CustomerSegmentation>
            <version>1.1.0</version>
        </Maho_CustomerSegmentation>
    </modules>
    <global>
        <models>
            <customersegmentation>
                <class>Maho_CustomerSegmentation_Model</class>
                <resourceModel>customersegmentation_resource</resourceModel>
            </customersegmentation>
            <customersegmentation_resource>
                <class>Maho_CustomerSegmentation_Model_Resource</class>
                <entities>
                    <segment>
                        <table>customer_segment</table>
                    </segment>
                    <segment_customer>
                        <table>customer_segment_customer</table>
                    </segment_customer>
                    <emailSequence>
                        <table>customer_segment_email_sequence</table>
                    </emailSequence>
                    <sequenceProgress>
                        <table>customer_segment_sequence_progress</table>
                    </sequenceProgress>
                </entities>
            </customersegmentation_resource>
        </models>
        <resources>
            <customersegmentation_setup>
                <setup>
                    <module>Maho_CustomerSegmentation</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </customersegmentation_setup>
            <customersegmentation_resource>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customersegmentation_resource>
        </resources>
        <blocks>
            <customersegmentation>
                <class>Maho_CustomerSegmentation_Block</class>
            </customersegmentation>
        </blocks>
        <helpers>
            <customersegmentation>
                <class>Maho_CustomerSegmentation_Helper</class>
            </customersegmentation>
        </helpers>
        <events>
            <salesrule_rule_condition_combine>
                <observers>
                    <customersegmentation_add_condition>
                        <class>customersegmentation/observer_priceRule</class>
                        <method>addSegmentConditionToSalesRule</method>
                    </customersegmentation_add_condition>
                </observers>
            </salesrule_rule_condition_combine>
            <customer_segment_refresh_after>
                <observers>
                    <customersegmentation_email_automation>
                        <class>customersegmentation/observer_emailAutomation</class>
                        <method>onSegmentRefreshAfter</method>
                    </customersegmentation_email_automation>
                </observers>
            </customer_segment_refresh_after>
            <newsletter_subscriber_save_after>
                <observers>
                    <customersegmentation_subscriber_change>
                        <class>customersegmentation/observer_emailAutomation</class>
                        <method>onNewsletterSubscriberSaveAfter</method>
                    </customersegmentation_subscriber_change>
                </observers>
            </newsletter_subscriber_save_after>
            <customer_delete_after>
                <observers>
                    <customersegmentation_customer_delete>
                        <class>customersegmentation/observer_emailAutomation</class>
                        <method>onCustomerDeleteAfter</method>
                    </customersegmentation_customer_delete>
                </observers>
            </customer_delete_after>
            <customer_segmentation_process_scheduled_emails>
                <observers>
                    <customersegmentation_process_emails>
                        <class>customersegmentation/observer_emailAutomation</class>
                        <method>processScheduledEmails</method>
                    </customersegmentation_process_emails>
                </observers>
            </customer_segmentation_process_scheduled_emails>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Maho_CustomerSegmentation before="Mage_Adminhtml">Maho_CustomerSegmentation_Adminhtml</Maho_CustomerSegmentation>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <customersegmentation>
                    <file>customersegmentation.xml</file>
                </customersegmentation>
            </updates>
        </layout>
        <translate>
            <modules>
                <Maho_CustomerSegmentation>
                    <files>
                        <default>Maho_CustomerSegmentation.csv</default>
                    </files>
                </Maho_CustomerSegmentation>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <customersegmentation_refresh_segments>
                <schedule>
                    <config_path>customer/customer_segments/cron_schedule</config_path>
                </schedule>
                <run>
                    <model>customersegmentation/cron::refreshSegments</model>
                </run>
            </customersegmentation_refresh_segments>
            <customersegmentation_process_emails>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>customersegmentation/cron::processScheduledEmails</model>
                </run>
            </customersegmentation_process_emails>
            <customersegmentation_cleanup_progress>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>customersegmentation/cron::cleanupOldProgress</model>
                </run>
            </customersegmentation_cleanup_progress>
            <customersegmentation_cleanup_coupons>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>customersegmentation/cron::cleanupExpiredCoupons</model>
                </run>
            </customersegmentation_cleanup_coupons>
            <customersegmentation_automation_report>
                <schedule>
                    <cron_expr>0 4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>customersegmentation/cron::generateAutomationReport</model>
                </run>
            </customersegmentation_automation_report>
        </jobs>
    </crontab>
    <default>
        <customer>
            <customer_segments>
                <cron_schedule>0 5 * * *</cron_schedule>
            </customer_segments>
        </customer>
        <customer_segmentation>
            <email_automation>
                <enabled>1</enabled>
                <cleanup_days>90</cleanup_days>
                <coupon_cleanup_days>30</coupon_cleanup_days>
            </email_automation>
        </customer_segmentation>
    </default>
</config>
