<?xml version="1.0"?>
<config>
    <modules>
        <Maho_CustomerSegmentation>
            <version>1.0.0</version>
        </Maho_CustomerSegmentation>
    </modules>
    <global>
        <models>
            <customersegmentation>
                <class>Maho_CustomerSegmentation_Model</class>
                <resourceModel>customersegmentation_resource</resourceModel>
            </customersegmentation>
            <customersegmentation_resource>
                <class>Maho_CustomerSegmentation_Model_Resource</class>
                <entities>
                    <segment>
                        <table>customer_segment</table>
                    </segment>
                    <segment_customer>
                        <table>customer_segment_customer</table>
                    </segment_customer>
                    <segment_guest>
                        <table>customer_segment_guest</table>
                    </segment_guest>
                    <segment_event>
                        <table>customer_segment_event</table>
                    </segment_event>
                </entities>
            </customersegmentation_resource>
        </models>
        <blocks>
            <customersegmentation>
                <class>Maho_CustomerSegmentation_Block</class>
            </customersegmentation>
        </blocks>
        <helpers>
            <customersegmentation>
                <class>Maho_CustomerSegmentation_Helper</class>
            </customersegmentation>
        </helpers>
        <resources>
            <maho_customersegmentation_setup>
                <setup>
                    <module>Maho_CustomerSegmentation</module>
                </setup>
            </maho_customersegmentation_setup>
        </resources>
        <events>
            <salesrule_rule_condition_combine>
                <observers>
                    <customersegmentation_add_condition>
                        <class>customersegmentation/observer_priceRule</class>
                        <method>addSegmentConditionToSalesRule</method>
                    </customersegmentation_add_condition>
                </observers>
            </salesrule_rule_condition_combine>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Maho_CustomerSegmentation before="Mage_Adminhtml">Maho_CustomerSegmentation_Adminhtml</Maho_CustomerSegmentation>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <customersegmentation>
                    <file>customersegmentation.xml</file>
                </customersegmentation>
            </updates>
        </layout>
        <translate>
            <modules>
                <Maho_CustomerSegmentation>
                    <files>
                        <default>Maho_CustomerSegmentation.csv</default>
                    </files>
                </Maho_CustomerSegmentation>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <customersegmentation_refresh_segments>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>customersegmentation/cron::refreshSegments</model>
                </run>
            </customersegmentation_refresh_segments>
            <customersegmentation_cleanup_events>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>customersegmentation/cron::cleanupEvents</model>
                </run>
            </customersegmentation_cleanup_events>
        </jobs>
    </crontab>
    <default>
        <customer_segmentation>
            <general>
                <enabled>1</enabled>
                <refresh_frequency>24</refresh_frequency>
                <batch_size>1000</batch_size>
            </general>
            <performance>
                <enable_caching>1</enable_caching>
                <cache_lifetime>3600</cache_lifetime>
            </performance>
            <integrations>
                <enable_price_rules>1</enable_price_rules>
                <enable_newsletter>1</enable_newsletter>
            </integrations>
        </customer_segmentation>
    </default>
</config>
