<?xml version="1.0"?>
<config>
    <modules>
        <Maho_ApiPlatform>
            <version>1.0.0</version>
        </Maho_ApiPlatform>
    </modules>
    <global>
        <helpers>
            <apiplatform>
                <class>Maho_ApiPlatform_Helper</class>
            </apiplatform>
        </helpers>
        <models>
            <apiplatform>
                <class>Maho_ApiPlatform_Model</class>
            </apiplatform>
        </models>
        <blocks>
            <apiplatform>
                <class>Maho_ApiPlatform_Block</class>
            </apiplatform>
        </blocks>
        <resources>
            <apiplatform_setup>
                <setup>
                    <module>Maho_ApiPlatform</module>
                </setup>
            </apiplatform_setup>
        </resources>
        <cache>
            <types>
                <api_data translate="label,description" module="apiplatform">
                    <label>API Data</label>
                    <description>REST and GraphQL API response cache (products, reviews, wishlists, etc.)</description>
                    <tags>API_PRODUCTS,API_REVIEWS,API_WISHLIST,API_STORE_CONFIG,API_COUNTRIES</tags>
                </api_data>
            </types>
        </cache>
    </global>
    <frontend>
        <translate>
            <modules>
                <Maho_ApiPlatform>
                    <files>
                        <default>Maho_ApiPlatform.csv</default>
                    </files>
                </Maho_ApiPlatform>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <apiplatform before="Mage_Adminhtml">Maho_ApiPlatform_Adminhtml</apiplatform>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Maho_ApiPlatform>
                    <files>
                        <default>Maho_ApiPlatform.csv</default>
                    </files>
                </Maho_ApiPlatform>
            </modules>
        </translate>
        <layout>
            <updates>
                <apiplatform>
                    <file>apiplatform.xml</file>
                </apiplatform>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <apiplatform>
            <protocols>
                <rest_v2>0</rest_v2>
                <graphql>0</graphql>
                <admin_graphql>0</admin_graphql>
                <legacy_rest>0</legacy_rest>
                <soap>0</soap>
                <v2_soap>0</v2_soap>
                <xmlrpc>0</xmlrpc>
                <jsonrpc>0</jsonrpc>
            </protocols>
            <cache>
                <ttl>300</ttl>
            </cache>
            <oauth2>
                <token_lifetime>3600</token_lifetime>
                <refresh_token_lifetime>86400</refresh_token_lifetime>
            </oauth2>
        </apiplatform>
    </default>
</config>
