<?xml version="1.0"?>
<!--
/**
 * Maho
 *
 * @package    Mage_Install
 * @copyright  Copyright (c) 2006-2020 Magento, Inc. (https://magento.com)
 * @copyright  Copyright (c) 2022-2024 The OpenMage Contributors (https://openmage.org)
 * @license    https://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Mage_Install>
            <version>0.7.0</version>
        </Mage_Install>
    </modules>
    <global>
        <models>
            <install>
                <class>Mage_Install_Model</class>
                <resourceModel>install_resource</resourceModel>
            </install>
            <install_resource>
                <class>Mage_Install_Model_Resource</class>
            </install_resource>
        </models>
        <blocks>
            <install>
                <class>Mage_Install_Block</class>
            </install>
        </blocks>
    </global>
    <default>
        <validators>
            <custom_layout>
                <disallowed_block>
                    <Mage_Install_Block_Complete/>
                </disallowed_block>
            </custom_layout>
        </validators>
    </default>
    <frontend>
        <secure_url>
            <install>/install/wizard/checkSecureHost</install>
        </secure_url>
    </frontend>
    <install>
        <databases>
            <mysql>
                <initStatements>SET NAMES utf8</initStatements>
                <extensions>
                    <pdo_mysql>1</pdo_mysql>
                </extensions>
            </mysql>
            <pgsql>
                <initStatements></initStatements>
                <extensions>
                    <pdo_pgsql>1</pdo_pgsql>
                </extensions>
            </pgsql>
            <sqlite>
                <initStatements></initStatements>
                <extensions>
                    <pdo_sqlite>1</pdo_sqlite>
                </extensions>
            </sqlite>
        </databases>
        <layout>
            <updates>
                <main>
                    <file>main.xml</file>
                </main>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mage_Install>
                    <files>
                        <default>Mage_Install.csv</default>
                    </files>
                </Mage_Install>
            </modules>
        </translate>
        <layout>
            <updates>
                <install>
                    <file>main.xml</file>
                </install>
            </updates>
        </layout>
        <eula_file>LICENSE.txt</eula_file>
    </install>
</config>
