<?xml version="1.0"?>
<!--
SPDX-FileCopyrightText: 2022-2024 The OpenMage Contributors <https://openmage.org>
SPDX-FileCopyrightText: 2006-2020 Magento, Inc. <https://magento.com>
SPDX-License-Identifier: AFL-3.0
-->
<config>
    <modules>
        <Mage_Oauth>
            <version>2.0.0</version>
        </Mage_Oauth>
    </modules>
    <global>
        <models>
            <oauth>
                <class>Mage_Oauth_Model</class>
                <resourceModel>oauth_resource</resourceModel>
            </oauth>
            <oauth_resource>
                <class>Mage_Oauth_Model_Resource</class>
                <entities>
                    <consumer>
                        <table>oauth_consumer</table>
                    </consumer>
                    <token>
                        <table>oauth_token</table>
                    </token>
                    <nonce>
                        <table>oauth_nonce</table>
                    </nonce>
                </entities>
            </oauth_resource>
        </models>
        <blocks>
            <oauth>
                <class>Mage_Oauth_Block</class>
            </oauth>
        </blocks>
        <helpers>
            <oauth>
                <class>Mage_Oauth_Helper</class>
            </oauth>
        </helpers>
        <template>
            <email>
                <oauth_email_template translate="label" module="oauth">
                    <label>Token Status Change</label>
                    <file>token.html</file>
                    <type>html</type>
                </oauth_email_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Oauth>
                    <files>
                        <default>Mage_Oauth.csv</default>
                    </files>
                </Mage_Oauth>
            </modules>
        </translate>
        <layout>
            <updates>
                <oauth>
                    <file>oauth.xml</file>
                </oauth>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Mage_Oauth>
                    <files>
                        <default>Mage_Oauth.csv</default>
                    </files>
                </Mage_Oauth>
            </modules>
        </translate>
    </frontend>
    <default>
        <oauth>
            <cleanup>
                <cleanup_probability>100</cleanup_probability>
                <expiration_period>120</expiration_period>
            </cleanup>
            <email>
                <identity>general</identity>
                <template>oauth_email_template</template>
            </email>
        </oauth>
    </default>
</config>
