<?xml version="1.0"?>
<!--
/**
 * Maho
 *
 * @category   Maho
 * @package    Maho_Captcha
 * @copyright  Copyright (c) 2025-2026 Maho (https://mahocommerce.com)
 * @license    https://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Maho_Captcha>
            <version>2.0.0</version>
        </Maho_Captcha>
    </modules>
    <global>
        <models>
            <captcha>
                <class>Maho_Captcha_Model</class>
            </captcha>
        </models>
        <helpers>
            <captcha>
                <class>Maho_Captcha_Helper</class>
            </captcha>
        </helpers>
    </global>
    <frontend>
        <routers>
            <captcha>
                <use>standard</use>
                <args>
                    <module>Maho_Captcha</module>
                    <frontName>captcha</frontName>
                </args>
            </captcha>
        </routers>
        <layout>
            <updates>
                <captcha>
                    <file>captcha.xml</file>
                </captcha>
            </updates>
        </layout>
        <translate>
            <modules>
                <Maho_Captcha>
                    <files>
                        <default>Maho_Captcha.csv</default>
                    </files>
                </Maho_Captcha>
            </modules>
        </translate>
    </frontend>
    <admin>
        <layout>
            <updates>
                <captcha>
                    <file>captcha.xml</file>
                </captcha>
            </updates>
        </layout>
        <translate>
            <modules>
                <Maho_Captcha>
                    <files>
                        <default>Maho_Captcha.csv</default>
                    </files>
                </Maho_Captcha>
            </modules>
        </translate>
    </admin>
    <default>
        <admin>
            <captcha>
                <selectors>.checkout-onepage-index #co-billing-form
.contacts-index-index #contactForm
.customer-account-login #form-validate-register
.customer-account-login #form-validate-forgot
#newsletter-validate-detail
.catalog-product-view #review-form
.review-product-list #review-form
.wishlist-index-share #form-validate</selectors>
            </captcha>
        </admin>
    </default>
</config>
