<?xml version="1.0"?>
<!--
/**
 * Maho
 *
 * @category   Maho
 * @package    Maho_Captcha
 * @copyright  Copyright (c) 2025-2026 Maho (https://mahocommerce.com)
 * @license    https://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Maho_Captcha>
            <version>2.0.0</version>
        </Maho_Captcha>
    </modules>
    <global>
        <models>
            <captcha>
                <class>Maho_Captcha_Model</class>
            </captcha>
        </models>
        <helpers>
            <captcha>
                <class>Maho_Captcha_Helper</class>
            </captcha>
        </helpers>
    </global>
    <frontend>
        <routers>
            <captcha>
                <use>standard</use>
                <args>
                    <module>Maho_Captcha</module>
                    <frontName>captcha</frontName>
                </args>
            </captcha>
        </routers>
        <events>
            <controller_action_predispatch_checkout_onepage_savebilling>
                <observers>
                    <captcha>
                        <class>captcha/observer</class>
                        <method>verify</method>
                        <args><is_ajax>1</is_ajax></args>
                    </captcha>
                </observers>
            </controller_action_predispatch_checkout_onepage_savebilling>
            <controller_action_predispatch_contacts_index_post>
                <observers>
                    <captcha>
                        <class>captcha/observer</class>
                        <method>verify</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_contacts_index_post>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <captcha>
                        <class>captcha/observer</class>
                        <method>verify</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <controller_action_predispatch_customer_account_forgotpasswordpost>
                <observers>
                    <captcha>
                        <class>captcha/observer</class>
                        <method>verify</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_customer_account_forgotpasswordpost>
            <controller_action_predispatch_newsletter_subscriber_new>
                <observers>
                    <captcha>
                        <class>captcha/observer</class>
                        <method>verify</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_newsletter_subscriber_new>
            <controller_action_predispatch_review_product_post>
                <observers>
                    <captcha>
                        <class>captcha/observer</class>
                        <method>verify</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_review_product_post>
            <controller_action_predispatch_wishlist_index_send>
                <observers>
                    <captcha>
                        <class>captcha/observer</class>
                        <method>verify</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_wishlist_index_send>
        </events>
        <layout>
            <updates>
                <captcha>
                    <file>captcha.xml</file>
                </captcha>
            </updates>
        </layout>
        <translate>
            <modules>
                <Maho_Captcha>
                    <files>
                        <default>Maho_Captcha.csv</default>
                    </files>
                </Maho_Captcha>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <events>
            <admin_user_authenticate_before>
                <observers>
                    <captcha>
                        <class>captcha/observer</class>
                        <method>verifyAdmin</method>
                    </captcha>
                </observers>
            </admin_user_authenticate_before>
            <controller_action_predispatch_adminhtml_index_forgotpassword>
                <observers>
                    <captcha>
                        <class>captcha/observer</class>
                        <method>verifyAdmin</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_adminhtml_index_forgotpassword>
        </events>
        <layout>
            <updates>
                <captcha>
                    <file>captcha.xml</file>
                </captcha>
            </updates>
        </layout>
        <translate>
            <modules>
                <Maho_Captcha>
                    <files>
                        <default>Maho_Captcha.csv</default>
                    </files>
                </Maho_Captcha>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <admin>
            <captcha>
                <selectors>.checkout-onepage-index #co-billing-form
.contacts-index-index #contactForm
.customer-account-login #form-validate-register
.customer-account-login #form-validate-forgot
#newsletter-validate-detail
.catalog-product-view #review-form
.review-product-list #review-form
.wishlist-index-share #form-validate</selectors>
            </captcha>
        </admin>
    </default>
</config>
