<?xml version="1.0"?>
<config>
    <modules>
        <Maho_Captcha>
            <version>1.0.0</version>
        </Maho_Captcha>
    </modules>
    <global>
        <models>
            <maho_captcha>
                <class>Maho_Captcha_Model</class>
                <resourceModel>maho_captcha_resource</resourceModel>
            </maho_captcha>
            <maho_captcha_resource>
                <class>Maho_Captcha_Model_Resource</class>
            </maho_captcha_resource>
        </models>
        <blocks>
            <maho_captcha>
                <class>Maho_Captcha_Block</class>
            </maho_captcha>
        </blocks>
        <helpers>
            <maho_captcha>
                <class>Maho_Captcha_Helper</class>
            </maho_captcha>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_checkout_onepage_savebilling>
                <observers>
                    <maho_captcha>
                        <class>maho_captcha/observer</class>
                        <method>verifyAjax</method>
                    </maho_captcha>
                </observers>
            </controller_action_predispatch_checkout_onepage_savebilling>
            <controller_action_predispatch_contacts_index_post>
                <observers>
                    <maho_captcha>
                        <class>maho_captcha/observer</class>
                        <method>verify</method>
                    </maho_captcha>
                </observers>
            </controller_action_predispatch_contacts_index_post>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <maho_captcha>
                        <class>maho_captcha/observer</class>
                        <method>verify</method>
                    </maho_captcha>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <controller_action_predispatch_customer_account_forgotpasswordpost>
                <observers>
                    <maho_captcha>
                        <class>maho_captcha/observer</class>
                        <method>verify</method>
                    </maho_captcha>
                </observers>
            </controller_action_predispatch_customer_account_forgotpasswordpost>
            <controller_action_predispatch_newsletter_subscriber_new>
                <observers>
                    <maho_captcha>
                        <class>maho_captcha/observer</class>
                        <method>verify</method>
                    </maho_captcha>
                </observers>
            </controller_action_predispatch_newsletter_subscriber_new>
            <controller_action_predispatch_review_product_post>
                <observers>
                    <maho_captcha>
                        <class>maho_captcha/observer</class>
                        <method>verify</method>
                    </maho_captcha>
                </observers>
            </controller_action_predispatch_review_product_post>
            <controller_action_predispatch_wishlist_index_send>
                <observers>
                    <maho_captcha>
                        <class>maho_captcha/observer</class>
                        <method>verify</method>
                    </maho_captcha>
                </observers>
            </controller_action_predispatch_wishlist_index_send>
        </events>
        <layout>
            <updates>
                <maho_captcha>
                    <file>maho_captcha.xml</file>
                </maho_captcha>
            </updates>
        </layout>
        <translate>
            <modules>
                <Maho_Captcha>
                    <files>
                        <default>Maho_Captcha.csv</default>
                    </files>
                </Maho_Captcha>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml_index_login>
                <observers>
                    <maho_captcha>
                        <class>maho_captcha/observer</class>
                        <method>verifyAdmin</method>
                    </maho_captcha>
                </observers>
            </controller_action_predispatch_adminhtml_index_login>
            <controller_action_predispatch_adminhtml_index_forgotpassword>
                <observers>
                    <maho_captcha>
                        <class>maho_captcha/observer</class>
                        <method>verifyAdmin</method>
                    </maho_captcha>
                </observers>
            </controller_action_predispatch_adminhtml_index_forgotpassword>
        </events>
        <layout>
            <updates>
                <maho_captcha>
                    <file>maho_captcha.xml</file>
                </maho_captcha>
            </updates>
        </layout>
        <translate>
            <modules>
                <Maho_Captcha>
                    <files>
                        <default>maho_captcha.csv</default>
                    </files>
                </Maho_Captcha>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <admin>
            <maho_captcha>
                <enable>1</enable>
                <selectors>.checkout-onepage-index #billing-new-address-form
.contacts-index-index #contactForm
.customer-account-create #form-validate
.customer-account-forgotpassword #form-validate
#newsletter-validate-detail
.catalog-product-view #review-form
.review-product-list #review-form
.wishlist-index-share #form-validate</selectors>
            </maho_captcha>
        </admin>
    </default>
</config>