<?xml version="1.0"?>
<config>
    <modules>
        <Maho_SpeculationRules>
            <version>1.0.0</version>
        </Maho_SpeculationRules>
    </modules>
    <global>
        <blocks>
            <speculationrules>
                <class>Maho_SpeculationRules_Block</class>
            </speculationrules>
        </blocks>
        <helpers>
            <speculationrules>
                <class>Maho_SpeculationRules_Helper</class>
            </speculationrules>
        </helpers>
        <models>
            <speculationrules>
                <class>Maho_SpeculationRules_Model</class>
            </speculationrules>
        </models>
        <translate>
            <modules>
                <Maho_SpeculationRules>
                    <files>
                        <default>Maho_SpeculationRules.csv</default>
                    </files>
                </Maho_SpeculationRules>
            </modules>
        </translate>
    </global>
    <frontend>
        <layout>
            <updates>
                <speculationrules>
                    <file>speculationrules.xml</file>
                </speculationrules>
            </updates>
        </layout>
    </frontend>
    <default>
        <dev>
            <speculation_rules>
                <enabled>0</enabled>
                <eager_mode>prefetch</eager_mode>
                <eager_selectors></eager_selectors>
                <moderate_mode>prefetch</moderate_mode>
                <moderate_selectors></moderate_selectors>
                <conservative_mode>prefetch</conservative_mode>
                <conservative_selectors></conservative_selectors>
            </speculation_rules>
        </dev>
    </default>
</config>
