<?xml version="1.0"?>
<!--
/**
 * Maho
 *
 * @category   Maho
 * @package    Maho_SpeculationRules
 * @copyright  Copyright (c) 2025-2026 Maho (https://mahocommerce.com)
 * @license    https://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Maho_SpeculationRules>
            <version>1.0.0</version>
        </Maho_SpeculationRules>
    </modules>
    <global>
        <blocks>
            <speculationrules>
                <class>Maho_SpeculationRules_Block</class>
            </speculationrules>
        </blocks>
        <helpers>
            <speculationrules>
                <class>Maho_SpeculationRules_Helper</class>
            </speculationrules>
        </helpers>
        <models>
            <speculationrules>
                <class>Maho_SpeculationRules_Model</class>
            </speculationrules>
        </models>
        <translate>
            <modules>
                <Maho_SpeculationRules>
                    <files>
                        <default>Maho_SpeculationRules.csv</default>
                    </files>
                </Maho_SpeculationRules>
            </modules>
        </translate>
    </global>
    <frontend>
        <layout>
            <updates>
                <speculationrules>
                    <file>speculationrules.xml</file>
                </speculationrules>
            </updates>
        </layout>
    </frontend>
    <default>
        <dev>
            <speculation_rules>
                <enabled>0</enabled>
                <moderate_prefetch_selectors>a.logo
.nav-primary a
.breadcrumbs a
.product-name a
.product-image a
.toolbar .pager a
.footer a</moderate_prefetch_selectors>
            </speculation_rules>
        </dev>
    </default>
</config>
