<?xml version="1.0"?>
<!--
/**
 * Maho
 *
 * @category   Mage
 * @package    Mage_Eav
 * @copyright  Copyright (c) 2006-2020 Magento, Inc. (https://magento.com)
 * @copyright  Copyright (c) 2022-2024 The OpenMage Contributors (https://openmage.org)
 * @license    https://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Mage_Eav>
            <version>1.6.0.2</version>
        </Mage_Eav>
    </modules>
    <global>
        <models>
            <eav>
                <class>Mage_Eav_Model</class>
                <resourceModel>eav_resource</resourceModel>
            </eav>
            <eav_resource>
                <class>Mage_Eav_Model_Resource</class>
                <entities>
                    <entity>
                        <table>eav_entity</table>
                    </entity>
                    <entity_value_prefix>
                        <table>eav_entity</table>
                    </entity_value_prefix>
                    <entity_type>
                        <table>eav_entity_type</table>
                    </entity_type>
                    <entity_store>
                        <table>eav_entity_store</table>
                    </entity_store>
                    <entity_attribute>
                        <table>eav_entity_attribute</table>
                    </entity_attribute>
                    <attribute>
                        <table>eav_attribute</table>
                    </attribute>
                    <attribute_set>
                        <table>eav_attribute_set</table>
                    </attribute_set>
                    <attribute_group>
                        <table>eav_attribute_group</table>
                    </attribute_group>
                    <attribute_option>
                        <table>eav_attribute_option</table>
                    </attribute_option>
                    <attribute_option_value>
                        <table>eav_attribute_option_value</table>
                    </attribute_option_value>
                    <attribute_option_swatch>
                        <table>eav_attribute_option_swatch</table>
                    </attribute_option_swatch>
                    <attribute_label>
                        <table>eav_attribute_label</table>
                    </attribute_label>
                    <form_type>
                        <table>eav_form_type</table>
                    </form_type>
                    <form_type_entity>
                        <table>eav_form_type_entity</table>
                    </form_type_entity>
                    <form_fieldset>
                        <table>eav_form_fieldset</table>
                    </form_fieldset>
                    <form_fieldset_label>
                        <table>eav_form_fieldset_label</table>
                    </form_fieldset_label>
                    <form_element>
                        <table>eav_form_element</table>
                    </form_element>
                </entities>
            </eav_resource>
        </models>
        <resources>
            <eav_setup>
                <setup>
                    <module>Mage_Eav</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </eav_setup>
        </resources>
        <blocks>
            <eav>
                <class>Mage_Eav_Block</class>
            </eav>
        </blocks>
        <cache>
            <types>
                <eav translate="label,description" module="eav">
                    <label>EAV types and attributes</label>
                    <description>Entity types declaration cache.</description>
                    <tags>eav</tags>
                </eav>
            </types>
        </cache>
        <eav_attributes/>
        <eav_forms/>
        <eav_frontendclasses>
            <default>
                <validate_number translate="label" module="eav">
                    <label>Decimal Number</label>
                    <value>validate-number</value>
                </validate_number>
                <validate_digits translate="label" module="eav">
                    <label>Integer Number</label>
                    <value>validate-digits</value>
                </validate_digits>
                <validate_email translate="label" module="eav">
                    <label>Email</label>
                    <value>validate-email</value>
                </validate_email>
                <validate_url translate="label" module="eav">
                    <label>URL</label>
                    <value>validate-url</value>
                </validate_url>
                <validate_alpha translate="label" module="eav">
                    <label>Letters</label>
                    <value>validate-alpha</value>
                </validate_alpha>
                <validate_alphanum translate="label" module="eav">
                    <label>Letters (a-z, A-Z) or Numbers (0-9)</label>
                    <value>validate-alphanum</value>
                </validate_alphanum>
            </default>
        </eav_frontendclasses>
        <eav_inputtypes>
            <!--
                /**
                * Return information array of attribute by input type
                * Only a small number of settings returned, so we won't break anything in current dataflow
                * As soon as development process goes on we need to add there all possible settings
                * @todo specify there all relations for properties depending on input type
                */
            -->
            <default>
                <text translate="label" module="eav">
                    <label>Text Field</label>
                    <value>text</value>
                    <backend_type>varchar</backend_type>
                    <default_value_field>default_value_text</default_value_field>
                </text>
                <textarea translate="label" module="eav">
                    <label>Text Area</label>
                    <value>textarea</value>
                    <backend_type>text</backend_type>
                    <default_value_field>default_value_textarea</default_value_field>
                </textarea>
                <date translate="label" module="eav">
                    <label>Date</label>
                    <value>date</value>
                    <backend_type>datetime</backend_type>
                    <backend_model>eav/entity_attribute_backend_datetime</backend_model>
                    <frontend_model>eav/entity_attribute_frontend_datetime</frontend_model>
                    <default_value_field>default_value_date</default_value_field>
                </date>
                <boolean translate="label" module="eav">
                    <label>Yes/No</label>
                    <value>boolean</value>
                    <backend_type>int</backend_type>
                    <source_model>eav/entity_attribute_source_boolean</source_model>
                    <default_value_field>default_value_yesno</default_value_field>
                </boolean>
                <multiselect translate="label" module="eav">
                    <label>Multiple Select</label>
                    <value>multiselect</value>
                    <backend_type>text</backend_type>
                    <backend_model>eav/entity_attribute_backend_array</backend_model>
                    <options_panel><intype>checkbox</intype></options_panel>
                </multiselect>
                <select translate="label" module="eav">
                    <label>Dropdown</label>
                    <value>select</value>
                    <backend_type>int</backend_type>
                    <options_panel><intype>radio</intype></options_panel>
                </select>
                <customselect translate="label" module="eav">
                    <label>Dropdown with Other Option</label>
                    <value>customselect</value>
                    <backend_type>varchar</backend_type>
                    <source_model>eav/entity_attribute_source_table</source_model>
                    <options_panel><intype>radio</intype></options_panel>
                </customselect>
            </default>
        </eav_inputtypes>
        <events>
            <controller_action_predispatch>
                <observers>
                    <eav>
                        <class>eav/observer</class>
                        <method>onControllerActionPredispatch</method>
                    </eav>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <eav>
                    <file>eav.xml</file>
                </eav>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mage_Eav>
                    <files>
                        <default>Mage_Eav.csv</default>
                    </files>
                </Mage_Eav>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Mage_Eav>
                    <files>
                        <default>Mage_Eav.csv</default>
                    </files>
                </Mage_Eav>
            </modules>
        </translate>
    </frontend>
</config>
