<?xml version="1.0"?>
<!--
SPDX-FileCopyrightText: 2026 Maho <https://mahocommerce.com>
SPDX-License-Identifier: AFL-3.0
-->
<config>
    <modules>
        <Maho_SocialLogin>
            <version>1.0.0</version>
        </Maho_SocialLogin>
    </modules>
    <global>
        <models>
            <sociallogin>
                <class>Maho_SocialLogin_Model</class>
                <resourceModel>sociallogin_resource</resourceModel>
            </sociallogin>
            <sociallogin_resource>
                <class>Maho_SocialLogin_Model_Resource</class>
                <entities>
                    <identity>
                        <table>social_login_identity</table>
                    </identity>
                </entities>
            </sociallogin_resource>
        </models>
        <blocks>
            <sociallogin>
                <class>Maho_SocialLogin_Block</class>
            </sociallogin>
        </blocks>
        <helpers>
            <sociallogin>
                <class>Maho_SocialLogin_Helper</class>
            </sociallogin>
        </helpers>
        <resources>
            <sociallogin_setup>
                <setup>
                    <module>Maho_SocialLogin</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </sociallogin_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <sociallogin>
                    <file>sociallogin.xml</file>
                </sociallogin>
            </updates>
        </layout>
        <translate>
            <modules>
                <Maho_SocialLogin>
                    <files>
                        <default>Maho_SocialLogin.csv</default>
                    </files>
                </Maho_SocialLogin>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <sociallogin>
                    <file>sociallogin.xml</file>
                </sociallogin>
            </updates>
        </layout>
        <translate>
            <modules>
                <Maho_SocialLogin>
                    <files>
                        <default>Maho_SocialLogin.csv</default>
                    </files>
                </Maho_SocialLogin>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <customer>
            <social_login>
                <google_enabled>0</google_enabled>
                <google_client_id/>
                <google_one_tap_enabled>0</google_one_tap_enabled>
                <apple_enabled>0</apple_enabled>
                <apple_service_id/>
                <facebook_enabled>0</facebook_enabled>
                <facebook_app_id/>
                <facebook_app_secret backend_model="adminhtml/system_config_backend_encrypted"/>
                <allow_registration>1</allow_registration>
                <ip_rate_limit_per_hour>30</ip_rate_limit_per_hour>
                <nonce_ttl>600</nonce_ttl>
            </social_login>
        </customer>
    </default>
</config>
