<?xml version="1.0"?>
<!--
    Test fixture for ./maho legacy:migrate-* commands.

    Exercises:
    - Legacy <frontend><routers> declaration with multiple controllers (root + nested)
    - Legacy global observer
    - Legacy frontend-area observer (multi-area scope)
    - Legacy cron job with <cron_expr> schedule
-->
<config>
    <modules>
        <Maho_LegacyMigrateTestA>
            <version>1.0.0</version>
        </Maho_LegacyMigrateTestA>
    </modules>
    <global>
        <models>
            <legacymigratetesta>
                <class>Maho_LegacyMigrateTestA_Model</class>
            </legacymigratetesta>
        </models>
        <helpers>
            <legacymigratetesta>
                <class>Maho_LegacyMigrateTestA_Helper</class>
            </legacymigratetesta>
        </helpers>
        <events>
            <catalog_product_save_after>
                <observers>
                    <legacymigratetesta_save>
                        <class>legacymigratetesta/observer</class>
                        <method>onProductSave</method>
                    </legacymigratetesta_save>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    <frontend>
        <routers>
            <legacymigratetesta>
                <use>standard</use>
                <args>
                    <module>Maho_LegacyMigrateTestA</module>
                    <frontName>legacymigratetesta</frontName>
                </args>
            </legacymigratetesta>
        </routers>
        <events>
            <customer_login>
                <observers>
                    <legacymigratetesta_login>
                        <type>singleton</type>
                        <class>legacymigratetesta/observer</class>
                        <method>onCustomerLogin</method>
                    </legacymigratetesta_login>
                </observers>
            </customer_login>
        </events>
    </frontend>
    <crontab>
        <jobs>
            <legacymigratetesta_cleanup>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>legacymigratetesta/observer::runDailyCleanup</model>
                </run>
            </legacymigratetesta_cleanup>
        </jobs>
    </crontab>
</config>
