<?xml version="1.0"?>
<!--
/**
 * Maho
 *
 * @package    Mage_CatalogRule
 * @copyright  Copyright (c) 2006-2020 Magento, Inc. (https://magento.com)
 * @copyright  Copyright (c) 2022 The OpenMage Contributors (https://openmage.org)
 * @license    https://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Mage_CatalogRule>
            <version>1.6.0.3</version>
        </Mage_CatalogRule>
    </modules>
    <global>
        <helpers>
            <catalogrule>
                <class>Mage_CatalogRule_Helper</class>
            </catalogrule>
        </helpers>
        <models>
            <catalogrule>
                <class>Mage_CatalogRule_Model</class>
                <resourceModel>catalogrule_resource</resourceModel>
            </catalogrule>
            <catalogrule_resource>
                <class>Mage_CatalogRule_Model_Resource</class>
                <entities>
                    <rule>
                        <table>catalogrule</table>
                    </rule>
                    <rule_product>
                        <table>catalogrule_product</table>
                    </rule_product>
                    <rule_product_price_tmp>
                        <table>catalogrule_product_price_tmp</table>
                    </rule_product_price_tmp>
                    <rule_product_price>
                        <table>catalogrule_product_price</table>
                    </rule_product_price>
                    <affected_product>
                        <table>catalogrule_affected_product</table>
                    </affected_product>
                    <rule_group_website>
                        <table>catalogrule_group_website</table>
                    </rule_group_website>
                    <website>
                        <table>catalogrule_website</table>
                    </website>
                    <customer_group>
                        <table>catalogrule_customer_group</table>
                    </customer_group>
                </entities>
            </catalogrule_resource>
        </models>
        <resources>
            <catalogrule_setup>
                <setup>
                    <module>Mage_CatalogRule</module>
                </setup>
            </catalogrule_setup>
        </resources>
        <catalogrule>
            <related_cache_types>
                <block_html/>
            </related_cache_types>
        </catalogrule>
    </global>
    <frontend>
        <translate>
            <modules>
                <Mage_CatalogRule>
                    <files>
                        <default>Mage_CatalogRule.csv</default>
                    </files>
                </Mage_CatalogRule>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_CatalogRule>
                    <files>
                        <default>Mage_CatalogRule.csv</default>
                    </files>
                </Mage_CatalogRule>
            </modules>
        </translate>
    </adminhtml>
</config>
