<?xml version="1.0"?>
<config>
    <modules>
        <Maho_Blog>
            <version>1.0.0</version>
        </Maho_Blog>
    </modules>
    <global>
        <models>
            <blog>
                <class>Maho_Blog_Model</class>
                <resourceModel>blog_resource</resourceModel>
            </blog>
            <blog_resource>
                <class>Maho_Blog_Model_Resource</class>
                <entities>
                    <post>
                        <table>blog_post_entity</table>
                    </post>
                    <post_store>
                        <table>blog_post_store</table>
                    </post_store>
                </entities>
            </blog_resource>
        </models>
        <blocks>
            <blog>
                <class>Maho_Blog_Block</class>
            </blog>
        </blocks>
        <helpers>
            <blog>
                <class>Maho_Blog_Helper</class>
            </blog>
        </helpers>
        <resources>
            <blog_setup>
                <setup>
                    <module>Maho_Blog</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </blog_setup>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <cms>
                        <class>Maho_Blog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </cms>
                </observers>
            </controller_front_init_routers>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <blog_add_topmenu_items>
                        <class>blog/observer</class>
                        <method>addBlogToTopmenuItems</method>
                    </blog_add_topmenu_items>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <blog before="Mage_Adminhtml">Maho_Blog_Adminhtml</blog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Maho_Blog>
                    <files>
                        <default>Maho_Blog.csv</default>
                    </files>
                </Maho_Blog>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Maho_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Maho_Blog>
                    <files>
                        <default>Maho_Blog.csv</default>
                    </files>
                </Maho_Blog>
            </modules>
        </translate>
    </frontend>
</config>
