<?xml version="1.0"?>
<!--
/**
 * Maho
 *
 * @category   Maho
 * @package    Maho_Blog
 * @copyright  Copyright (c) 2025-2026 Maho (https://mahocommerce.com)
 * @license    https://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Maho_Blog>
            <version>2.0.0</version>
        </Maho_Blog>
    </modules>
    <global>
        <models>
            <blog>
                <class>Maho_Blog_Model</class>
                <resourceModel>blog_resource</resourceModel>
            </blog>
            <blog_resource>
                <class>Maho_Blog_Model_Resource</class>
                <entities>
                    <post>
                        <table>blog_post_entity</table>
                    </post>
                    <post_store>
                        <table>blog_post_store</table>
                    </post_store>
                    <category>
                        <table>blog_category_entity</table>
                    </category>
                    <category_store>
                        <table>blog_category_store</table>
                    </category_store>
                    <post_category>
                        <table>blog_post_category</table>
                    </post_category>
                    <eav_attribute>
                        <table>blog_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </blog_resource>
        </models>
        <blocks>
            <blog>
                <class>Maho_Blog_Block</class>
            </blog>
        </blocks>
        <helpers>
            <blog>
                <class>Maho_Blog_Helper</class>
            </blog>
        </helpers>
        <resources>
            <blog_setup>
                <setup>
                    <module>Maho_Blog</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </blog_setup>
        </resources>
    </global>
    <api>
        <resources>
            <blog_post translate="title" module="blog">
                <title>Blog Posts</title>
                <model>blog/post_api</model>
                <acl>system/api/blog_post</acl>
                <methods>
                    <list translate="title" module="blog">
                        <title>Retrieve blog posts</title>
                        <acl>system/api/blog_post</acl>
                    </list>
                    <info translate="title" module="blog">
                        <title>Retrieve blog post info</title>
                        <acl>system/api/blog_post</acl>
                    </info>
                    <create translate="title" module="blog">
                        <title>Create blog post</title>
                        <acl>system/api/blog_post</acl>
                    </create>
                    <update translate="title" module="blog">
                        <title>Update blog post</title>
                        <acl>system/api/blog_post</acl>
                    </update>
                    <remove translate="title" module="blog">
                        <title>Remove blog post</title>
                        <acl>system/api/blog_post</acl>
                    </remove>
                </methods>
            </blog_post>
        </resources>
        <resources_alias>
            <blog_post>blog_post</blog_post>
        </resources_alias>
        <v2>
            <resources_function_prefix>
                <blog_post>blogPost</blog_post>
            </resources_function_prefix>
        </v2>
    </api>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <blog before="Mage_Adminhtml">Maho_Blog_Adminhtml</blog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Maho_Blog>
                    <files>
                        <default>Maho_Blog.csv</default>
                    </files>
                </Maho_Blog>
            </modules>
        </translate>
    </admin>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Maho_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Maho_Blog>
                    <files>
                        <default>Maho_Blog.csv</default>
                    </files>
                </Maho_Blog>
            </modules>
        </translate>
    </frontend>
    <default>
        <blog>
            <general>
                <show_in_navigation>1</show_in_navigation>
                <url_prefix>blog</url_prefix>
                <posts_per_page>20</posts_per_page>
                <enable_categories>0</enable_categories>
                <category_url_prefix>category</category_url_prefix>
            </general>
            <search>
                <enable_autosuggest>1</enable_autosuggest>
                <autosuggest_limit>3</autosuggest_limit>
            </search>
            <sitemap>
                <changefreq>weekly</changefreq>
                <priority>0.8</priority>
                <lastmod>1</lastmod>
                <include_images>1</include_images>
            </sitemap>
        </blog>
    </default>
</config>
