<?xml version="1.0"?>
<!--
SPDX-FileCopyrightText: 2026 Maho <https://mahocommerce.com>
SPDX-License-Identifier: AFL-3.0
-->
<config>
    <modules>
        <Maho_ContentNegotiation>
            <version>1.0.0</version>
        </Maho_ContentNegotiation>
    </modules>
    <global>
        <helpers>
            <contentnegotiation>
                <class>Maho_ContentNegotiation_Helper</class>
            </contentnegotiation>
        </helpers>
        <models>
            <contentnegotiation>
                <class>Maho_ContentNegotiation_Model</class>
            </contentnegotiation>
        </models>
        <translate>
            <modules>
                <Maho_ContentNegotiation>
                    <files>
                        <default>Maho_ContentNegotiation.csv</default>
                    </files>
                </Maho_ContentNegotiation>
            </modules>
        </translate>
    </global>
    <default>
        <crawlers>
            <markdown>
                <enabled>1</enabled>
                <allowed_routes>catalog/product/view
catalog/category/view
cms/page/view
cms/index/index
blog/index/view
blog/index/index
blog/index/category</allowed_routes>
                <cache_lifetime>3600</cache_lifetime>
            </markdown>
        </crawlers>
    </default>
</config>
