<?xml version="1.0"?>
<!--
/**
 * Maho
 *
 * @category   Maho
 * @package    Maho_AdminActivityLog
 * @copyright  Copyright (c) 2025-2026 Maho (https://mahocommerce.com)
 * @license    https://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Maho_AdminActivityLog>
            <version>1.0.1</version>
        </Maho_AdminActivityLog>
    </modules>
    <global>
        <models>
            <adminactivitylog>
                <class>Maho_AdminActivityLog_Model</class>
                <resourceModel>adminactivitylog_resource</resourceModel>
            </adminactivitylog>
            <adminactivitylog_resource>
                <class>Maho_AdminActivityLog_Model_Resource</class>
                <entities>
                    <activity>
                        <table>adminactivitylog_activity</table>
                    </activity>
                    <login>
                        <table>adminactivitylog_login</table>
                    </login>
                </entities>
            </adminactivitylog_resource>
        </models>
        <helpers>
            <adminactivitylog>
                <class>Maho_AdminActivityLog_Helper</class>
            </adminactivitylog>
        </helpers>
        <blocks>
            <adminactivitylog>
                <class>Maho_AdminActivityLog_Block</class>
            </adminactivitylog>
        </blocks>
        <resources>
            <adminactivitylog_setup>
                <setup>
                    <module>Maho_AdminActivityLog</module>
                    <class>Maho_AdminActivityLog_Model_Resource_Setup</class>
                </setup>
            </adminactivitylog_setup>
        </resources>
        <events>
            <encryption_key_regenerated>
                <observers>
                    <adminactivitylog_recrypt_data>
                        <class>adminactivitylog/observer</class>
                        <method>encryptionKeyRegenerated</method>
                    </adminactivitylog_recrypt_data>
                </observers>
            </encryption_key_regenerated>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Maho_AdminActivityLog before="Mage_Adminhtml">Maho_AdminActivityLog_Adminhtml</Maho_AdminActivityLog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <admin_user_authenticate_after>
                <observers>
                    <adminactivitylog_login_success>
                        <class>adminactivitylog/observer</class>
                        <method>logAdminLogin</method>
                    </adminactivitylog_login_success>
                </observers>
            </admin_user_authenticate_after>
            <admin_session_user_logout>
                <observers>
                    <adminactivitylog_logout>
                        <class>adminactivitylog/observer</class>
                        <method>logAdminLogout</method>
                    </adminactivitylog_logout>
                </observers>
            </admin_session_user_logout>
            <admin_session_user_login_failed>
                <observers>
                    <adminactivitylog_login_failed>
                        <class>adminactivitylog/observer</class>
                        <method>logAdminLoginFailed</method>
                    </adminactivitylog_login_failed>
                </observers>
            </admin_session_user_login_failed>
            <model_save_before>
                <observers>
                    <adminactivitylog_save_before>
                        <class>adminactivitylog/observer</class>
                        <method>logAdminActivityBefore</method>
                    </adminactivitylog_save_before>
                </observers>
            </model_save_before>
            <model_save_after>
                <observers>
                    <adminactivitylog_save_after>
                        <class>adminactivitylog/observer</class>
                        <method>logAdminActivityAfter</method>
                    </adminactivitylog_save_after>
                </observers>
            </model_save_after>
            <model_delete_before>
                <observers>
                    <adminactivitylog_delete_before>
                        <class>adminactivitylog/observer</class>
                        <method>logAdminActivityBefore</method>
                    </adminactivitylog_delete_before>
                </observers>
            </model_delete_before>
            <model_delete_after>
                <observers>
                    <adminactivitylog_delete_after>
                        <class>adminactivitylog/observer</class>
                        <method>logAdminDelete</method>
                    </adminactivitylog_delete_after>
                </observers>
            </model_delete_after>
            <controller_action_predispatch_adminhtml>
                <observers>
                    <adminactivitylog_page_visit>
                        <class>adminactivitylog/observer</class>
                        <method>logPageVisit</method>
                    </adminactivitylog_page_visit>
                </observers>
            </controller_action_predispatch_adminhtml>
            <controller_action_postdispatch_adminhtml>
                <observers>
                    <adminactivitylog_mass_action>
                        <class>adminactivitylog/observer</class>
                        <method>logMassAction</method>
                    </adminactivitylog_mass_action>
                </observers>
            </controller_action_postdispatch_adminhtml>
        </events>
        <layout>
            <updates>
                <adminactivitylog>
                    <file>adminactivitylog.xml</file>
                </adminactivitylog>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <adminactivitylog_clean_old_logs>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>adminactivitylog/observer::cleanOldLogs</model>
                </run>
            </adminactivitylog_clean_old_logs>
        </jobs>
    </crontab>
    <default>
        <admin>
            <adminactivitylog>
                <enabled>1</enabled>
                <log_page_visit>0</log_page_visit>
                <log_save_actions>1</log_save_actions>
                <log_delete_actions>1</log_delete_actions>
                <log_mass_actions>1</log_mass_actions>
                <log_login_activity>0</log_login_activity>
                <log_failed_login>1</log_failed_login>
                <days_to_keep>30</days_to_keep>
            </adminactivitylog>
        </admin>
    </default>
</config>
