<?xml version="1.0"?>
<!--
/**
 * Maho
 *
 * @category   Maho
 * @package    Maho_AdminActivityLog
 * @copyright  Copyright (c) 2025-2026 Maho (https://mahocommerce.com)
 * @license    https://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Maho_AdminActivityLog>
            <version>1.0.0</version>
        </Maho_AdminActivityLog>
    </modules>
    <global>
        <models>
            <adminactivitylog>
                <class>Maho_AdminActivityLog_Model</class>
                <resourceModel>adminactivitylog_resource</resourceModel>
            </adminactivitylog>
            <adminactivitylog_resource>
                <class>Maho_AdminActivityLog_Model_Resource</class>
                <entities>
                    <activity>
                        <table>adminactivitylog_activity</table>
                    </activity>
                    <login>
                        <table>adminactivitylog_login</table>
                    </login>
                </entities>
            </adminactivitylog_resource>
        </models>
        <helpers>
            <adminactivitylog>
                <class>Maho_AdminActivityLog_Helper</class>
            </adminactivitylog>
        </helpers>
        <blocks>
            <adminactivitylog>
                <class>Maho_AdminActivityLog_Block</class>
            </adminactivitylog>
        </blocks>
        <resources>
            <adminactivitylog_setup>
                <setup>
                    <module>Maho_AdminActivityLog</module>
                    <class>Maho_AdminActivityLog_Model_Resource_Setup</class>
                </setup>
            </adminactivitylog_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <adminactivitylog>
                    <file>adminactivitylog.xml</file>
                </adminactivitylog>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <admin>
            <adminactivitylog>
                <enabled>1</enabled>
                <log_page_visit>0</log_page_visit>
                <log_save_actions>1</log_save_actions>
                <log_delete_actions>1</log_delete_actions>
                <log_mass_actions>1</log_mass_actions>
                <log_login_activity>0</log_login_activity>
                <log_failed_login>1</log_failed_login>
                <days_to_keep>30</days_to_keep>
            </adminactivitylog>
        </admin>
    </default>
</config>
