framework:
    secret: '%env(APP_SECRET)%'
    http_method_override: false
    handle_all_throwables: true
    php_errors:
        log: true
    serializer:
        enabled: true
    property_access:
        enabled: true
    property_info:
        enabled: true
    validation:
        enabled: true
