<?xml version="1.0"?>
<!--
/**
 * Maho
 *
 * @package    Mage_Tag
 * @copyright  Copyright (c) 2006-2020 Magento, Inc. (https://magento.com)
 * @copyright  Copyright (c) 2025-2026 Maho (https://mahocommerce.com)
 * @license    https://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<config>
    <sections>
        <catalog>
            <groups>
                <tags translate="label">
                    <label>Product Tags</label>
                    <sort_order>310</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_adding_tags_in_frontend translate="label">
                            <label>Enable Adding Tags in Frontend</label>
                            <frontend_type>boolean</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_adding_tags_in_frontend>
                    </fields>
                </tags>
            </groups>
        </catalog>
    </sections>
</config>
