<?xml version="1.0"?>
<config>
    <modules>
        <Maho_Giftcard>
            <version>1.0.0</version>
        </Maho_Giftcard>
    </modules>

    <global>
        <sales>
            <quote>
                <totals>
                    <giftcard>
                        <renderer>giftcard/cart_total</renderer>
                    </giftcard>
                </totals>
            </quote>
        </sales>

        <models>
            <giftcard>
                <class>Maho_Giftcard_Model</class>
                <resourceModel>giftcard_resource</resourceModel>
            </giftcard>
            <giftcard_resource>
                <class>Maho_Giftcard_Model_Resource</class>
                <entities>
                    <giftcard>
                        <table>giftcard</table>
                    </giftcard>
                    <history>
                        <table>giftcard_history</table>
                    </history>
                </entities>
            </giftcard_resource>
        </models>

        <helpers>
            <giftcard>
                <class>Maho_Giftcard_Helper</class>
            </giftcard>
        </helpers>

        <blocks>
            <giftcard>
                <class>Maho_Giftcard_Block</class>
            </giftcard>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Maho_Giftcard_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                </rewrite>
            </adminhtml>
        </blocks>

        <catalog>
            <product>
                <type>
                    <giftcard translate="label" module="giftcard">
                        <label>Gift Card</label>
                        <model>giftcard/product_type_giftcard</model>
                        <price_model>giftcard/product_price</price_model>
                        <price_indexer>giftcard/indexer_price</price_indexer>
                        <is_qty>1</is_qty>
                        <is_virtual>1</is_virtual>
                        <composite>0</composite>
                        <index_priority>50</index_priority>
                    </giftcard>
                </type>
            </product>
        </catalog>

        <template>
            <email>
                <giftcard_email_template translate="label" module="giftcard">
                    <label>Gift Card Notification Email</label>
                    <file>giftcard_notification.html</file>
                    <type>html</type>
                </giftcard_email_template>
            </email>
        </template>

        <resources>
            <giftcard_setup>
                <setup>
                    <module>Maho_Giftcard</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </giftcard_setup>
        </resources>

        <sales>
            <quote>
                <totals>
                    <giftcard>
                        <class>giftcard/total_quote</class>
                        <renderer>giftcard/cart_total</renderer>
                        <admin_renderer>giftcard/adminhtml_sales_order_create_totals_giftcard</admin_renderer>
                        <after>subtotal,shipping,discount,tax</after>
                        <before>grand_total</before>
                    </giftcard>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <giftcard>
                        <class>giftcard/total_invoice</class>
                        <after>subtotal,shipping,discount,tax,grand_total</after>
                    </giftcard>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <giftcard>
                        <class>giftcard/total_creditmemo</class>
                        <after>subtotal,shipping,discount,tax,grand_total</after>
                    </giftcard>
                </totals>
            </order_creditmemo>
        </sales>

        <events>
            <sales_order_place_after>
                <observers>
                    <giftcard_deduct_balance>
                        <class>giftcard/observer</class>
                        <method>deductGiftcardBalance</method>
                    </giftcard_deduct_balance>
                </observers>
            </sales_order_place_after>
            <catalog_product_save_before>
                <observers>
                    <giftcard_product_save>
                        <class>giftcard/observer</class>
                        <method>catalogProductSaveBefore</method>
                    </giftcard_product_save>
                </observers>
            </catalog_product_save_before>
            <sales_quote_add_item>
                <observers>
                    <giftcard_set_price>
                        <class>giftcard/observer</class>
                        <method>setGiftcardPrice</method>
                    </giftcard_set_price>
                </observers>
            </sales_quote_add_item>
            <sales_order_invoice_pay>
                <observers>
                    <giftcard_create_on_payment>
                        <class>giftcard/observer</class>
                        <method>createGiftcardsOnInvoicePaid</method>
                    </giftcard_create_on_payment>
                </observers>
            </sales_order_invoice_pay>
            <sales_convert_quote_address_to_order>
                <observers>
                    <giftcard_apply_to_order>
                        <class>giftcard/observer</class>
                        <method>applyGiftcardToOrder</method>
                    </giftcard_apply_to_order>
                </observers>
            </sales_convert_quote_address_to_order>
            <sales_order_creditmemo_refund>
                <observers>
                    <giftcard_refund_balance>
                        <class>giftcard/observer</class>
                        <method>refundGiftcardBalance</method>
                    </giftcard_refund_balance>
                </observers>
            </sales_order_creditmemo_refund>
            <order_cancel_after>
                <observers>
                    <giftcard_refund_on_cancel>
                        <class>giftcard/observer</class>
                        <method>refundGiftcardOnOrderCancel</method>
                    </giftcard_refund_on_cancel>
                </observers>
            </order_cancel_after>
            <payment_method_is_active>
                <observers>
                    <giftcard_filter_payment_methods>
                        <class>giftcard/observer</class>
                        <method>filterPaymentMethodsForZeroTotal</method>
                    </giftcard_filter_payment_methods>
                </observers>
            </payment_method_is_active>
        </events>

        <fieldsets>
            <sales_convert_quote>
                <giftcard_codes>
                    <to_order>*</to_order>
                </giftcard_codes>
            </sales_convert_quote>
            <sales_convert_quote_address>
                <giftcard_codes>
                    <to_order>*</to_order>
                </giftcard_codes>
                <giftcard_amount>
                    <to_order>*</to_order>
                </giftcard_amount>
                <base_giftcard_amount>
                    <to_order>*</to_order>
                </base_giftcard_amount>
            </sales_convert_quote_address>
            <sales_convert_order>
                <giftcard_codes>
                    <to_quote>*</to_quote>
                </giftcard_codes>
                <giftcard_amount>
                    <to_quote_address_shipping>*</to_quote_address_shipping>
                </giftcard_amount>
                <base_giftcard_amount>
                    <to_quote_address_shipping>*</to_quote_address_shipping>
                </base_giftcard_amount>
            </sales_convert_order>
        </fieldsets>
    </global>

    <crontab>
        <jobs>
            <giftcard_process_scheduled_emails>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>giftcard/cron::processScheduledEmails</model></run>
            </giftcard_process_scheduled_emails>
            <giftcard_mark_expired>
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>giftcard/cron::markExpiredGiftcards</model></run>
            </giftcard_mark_expired>
        </jobs>
    </crontab>

    <default>
        <giftcard>
            <general>
                <enabled>1</enabled>
                <code_length>16</code_length>
                <code_format>XXXX-XXXX-XXXX-XXXX</code_format>
                <code_prefix>GC</code_prefix>
                <lifetime>365</lifetime>
                <refund_expiration_extension>30</refund_expiration_extension>
                <allow_message>1</allow_message>
                <show_qrcode>1</show_qrcode>
                <show_barcode>1</show_barcode>
            </general>
            <email>
                <template>giftcard_email_template</template>
                <identity>general</identity>
            </email>
        </giftcard>
    </default>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <giftcard before="Mage_Adminhtml">Maho_Giftcard_Adminhtml</giftcard>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <routers>
            <giftcard>
                <use>standard</use>
                <args>
                    <module>Maho_Giftcard</module>
                    <frontName>giftcard</frontName>
                </args>
            </giftcard>
        </routers>
        <layout>
            <updates>
                <giftcard>
                    <file>giftcard.xml</file>
                </giftcard>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <giftcard>
                    <file>giftcard.xml</file>
                </giftcard>
            </updates>
        </layout>
        <events>
            <adminhtml_sales_order_create_process_data_before>
                <observers>
                    <giftcard_process_admin_order>
                        <class>giftcard/observer</class>
                        <method>processAdminOrderGiftcard</method>
                    </giftcard_process_admin_order>
                </observers>
            </adminhtml_sales_order_create_process_data_before>
        </events>
    </adminhtml>
</config>
