<?xml version="1.0"?>
<config>
    <modules>
        <Maho_Giftcard>
            <version>25.11.04</version>
        </Maho_Giftcard>
    </modules>

    <global>
        <sales>
            <quote>
                <totals>
                    <giftcard>
                        <renderer>maho_giftcard/cart_total</renderer>
                    </giftcard>
                </totals>
            </quote>
            <order>
                <totals>
                    <giftcard>
                        <class>maho_giftcard/total_order</class>
                        <after>subtotal,shipping,discount,tax</after>
                        <before>grand_total</before>
                    </giftcard>
                </totals>
            </order>
        </sales>

        <models>
            <maho_giftcard>
                <class>Maho_Giftcard_Model</class>
                <resourceModel>maho_giftcard_resource</resourceModel>
            </maho_giftcard>
            <maho_giftcard_resource>
                <class>Maho_Giftcard_Model_Resource</class>
                <entities>
                    <giftcard>
                        <table>maho_giftcard</table>
                    </giftcard>
                    <history>
                        <table>maho_giftcard_history</table>
                    </history>
                    <scheduled_email>
                        <table>maho_giftcard_scheduled_email</table>
                    </scheduled_email>
                </entities>
            </maho_giftcard_resource>
        </models>

        <helpers>
            <maho_giftcard>
                <class>Maho_Giftcard_Helper</class>
            </maho_giftcard>
            <payment>
                <rewrite>
                    <data>Maho_Giftcard_Helper_Payment</data>
                </rewrite>
            </payment>
        </helpers>

        <blocks>
            <maho_giftcard>
                <class>Maho_Giftcard_Block</class>
            </maho_giftcard>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Maho_Giftcard_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                </rewrite>
            </adminhtml>
            <checkout>
                <rewrite>
                    <onepage_payment_methods>Maho_Giftcard_Block_Checkout_Onepage_Payment_Methods</onepage_payment_methods>
                </rewrite>
            </checkout>
        </blocks>

        <catalog>
            <product>
                <type>
                    <giftcard translate="label" module="maho_giftcard">
                        <label>Gift Card</label>
                        <model>maho_giftcard/product_type_giftcard</model>
                        <is_virtual>1</is_virtual>
                        <composite>0</composite>
                        <index_priority>50</index_priority>
                    </giftcard>
                </type>
            </product>
        </catalog>

        <template>
            <email>
                <maho_giftcard_email_template translate="label" module="maho_giftcard">
                    <label>Gift Card Notification Email</label>
                    <file>giftcard_notification.html</file>
                    <type>html</type>
                </maho_giftcard_email_template>
            </email>
        </template>

        <resources>
            <maho_giftcard_setup>
                <setup>
                    <module>Maho_Giftcard</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </maho_giftcard_setup>
        </resources>

        <sales>
            <quote>
                <totals>
                    <giftcard>
                        <class>maho_giftcard/total_quote</class>
                        <renderer>maho_giftcard/cart_total</renderer>
                        <after>subtotal,shipping,discount,tax</after>
                        <before>grand_total</before>
                    </giftcard>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <giftcard>
                        <class>maho_giftcard/total_invoice</class>
                    </giftcard>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <giftcard>
                        <class>maho_giftcard/total_creditmemo</class>
                    </giftcard>
                </totals>
            </order_creditmemo>
        </sales>

        <events>
            <sales_order_place_after>
                <observers>
                    <maho_giftcard_generate>
                        <class>maho_giftcard/observer</class>
                        <method>generateGiftcards</method>
                    </maho_giftcard_generate>
                    <maho_giftcard_deduct_balance>
                        <class>maho_giftcard/observer</class>
                        <method>deductGiftcardBalance</method>
                    </maho_giftcard_deduct_balance>
                </observers>
            </sales_order_place_after>
            <catalog_product_save_before>
                <observers>
                    <maho_giftcard_product_save>
                        <class>maho_giftcard/observer</class>
                        <method>catalogProductSaveBefore</method>
                    </maho_giftcard_product_save>
                </observers>
            </catalog_product_save_before>
            <sales_quote_add_item>
                <observers>
                    <maho_giftcard_set_price>
                        <class>maho_giftcard/observer</class>
                        <method>setGiftcardPrice</method>
                    </maho_giftcard_set_price>
                </observers>
            </sales_quote_add_item>
            <sales_order_place_after>
                <observers>
                    <maho_giftcard_deduct_balance>
                        <class>maho_giftcard/observer</class>
                        <method>deductGiftcardBalance</method>
                    </maho_giftcard_deduct_balance>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_pay>
                <observers>
                    <maho_giftcard_activate_on_payment>
                        <class>maho_giftcard/observer</class>
                        <method>activateGiftcardsOnInvoicePaid</method>
                    </maho_giftcard_activate_on_payment>
                </observers>
            </sales_order_invoice_pay>
            <controller_action_predispatch_checkout_onepage_savePayment>
                <observers>
                    <maho_giftcard_auto_select_payment>
                        <class>maho_giftcard/observer</class>
                        <method>autoSelectPaymentMethod</method>
                    </maho_giftcard_auto_select_payment>
                </observers>
            </controller_action_predispatch_checkout_onepage_savePayment>
            <core_block_abstract_to_html_after>
                <observers>
                    <maho_giftcard_add_total_to_admin>
                        <class>maho_giftcard/observer</class>
                        <method>addGiftcardTotalToAdminOrder</method>
                    </maho_giftcard_add_total_to_admin>
                </observers>
            </core_block_abstract_to_html_after>
        </events>

        <fieldsets>
            <sales_convert_quote>
                <giftcard_codes>
                    <to_order>*</to_order>
                </giftcard_codes>
            </sales_convert_quote>
            <sales_convert_quote_address>
                <giftcard_codes>
                    <to_order>*</to_order>
                </giftcard_codes>
                <giftcard_amount>
                    <to_order>*</to_order>
                </giftcard_amount>
                <base_giftcard_amount>
                    <to_order>*</to_order>
                </base_giftcard_amount>
            </sales_convert_quote_address>
            <sales_convert_order>
                <giftcard_codes>
                    <to_quote>*</to_quote>
                </giftcard_codes>
                <giftcard_amount>
                    <to_quote_address_shipping>*</to_quote_address_shipping>
                </giftcard_amount>
                <base_giftcard_amount>
                    <to_quote_address_shipping>*</to_quote_address_shipping>
                </base_giftcard_amount>
            </sales_convert_order>
        </fieldsets>
    </global>

    <crontab>
        <jobs>
            <maho_giftcard_process_scheduled_emails>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>maho_giftcard/cron::processScheduledEmails</model></run>
            </maho_giftcard_process_scheduled_emails>
            <maho_giftcard_mark_expired>
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>maho_giftcard/cron::markExpiredGiftcards</model></run>
            </maho_giftcard_mark_expired>
        </jobs>
    </crontab>

    <default>
        <payment>
            <maho_giftcard>
                <active>0</active>
                <model>maho_giftcard/payment</model>
                <title>Gift Card</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <sort_order>-1</sort_order>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <payment_action>authorize_capture</payment_action>
            </maho_giftcard>
        </payment>
        <maho_giftcard>
            <general>
                <enabled>1</enabled>
                <code_length>16</code_length>
                <code_format>XXXX-XXXX-XXXX-XXXX</code_format>
                <code_prefix>GC</code_prefix>
                <lifetime>365</lifetime>
                <allow_message>1</allow_message>
                <enable_qrcode>1</enable_qrcode>
                <enable_barcode>1</enable_barcode>
                <pdf_show_qrcode>1</pdf_show_qrcode>
                <pdf_show_barcode>1</pdf_show_barcode>
            </general>
            <email>
                <template>32</template>
                <identity>general</identity>
                <send_on_creation>0</send_on_creation>
            </email>
        </maho_giftcard>
    </default>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <maho_giftcard before="Mage_Adminhtml">Maho_Giftcard_Adminhtml</maho_giftcard>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <routers>
            <maho_giftcard>
                <use>standard</use>
                <args>
                    <module>Maho_Giftcard</module>
                    <frontName>giftcard</frontName>
                </args>
            </maho_giftcard>
        </routers>
        <layout>
            <updates>
                <maho_giftcard>
                    <file>maho_giftcard.xml</file>
                </maho_giftcard>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <!-- Menu disabled - causes admin menu to disappear -->
        <layout>
            <updates>
                <maho_giftcard>
                    <file>maho_giftcard.xml</file>
                </maho_giftcard>
            </updates>
        </layout>
    </adminhtml>
</config>
