name: PHPStan

on:
  push:
    branches:
      - main
  pull_request:
  workflow_call:
  workflow_dispatch:

jobs:
  phpstan:
    name: Analyze PHP ${{ matrix.php-versions }}
    runs-on: [ubuntu-latest]

    strategy:
      fail-fast: false
      matrix:
        php-versions: ['8.3', '8.4', '8.5']

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      - uses: actions/checkout@v6

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v5
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ matrix.php-versions }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-${{ matrix.php-versions }}-

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --ignore-platform-req=ext-*

      - name: Restore result cache
        id: phpstan-result-cache
        uses: actions/cache/restore@v5
        with:
          path: var
          key: phpstan-result-cache-${{ matrix.php-versions }}-${{ github.ref_name }}-${{ github.run_id }}
          restore-keys: |
            phpstan-result-cache-${{ matrix.php-versions }}-${{ github.ref_name }}
            phpstan-result-cache-${{ matrix.php-versions }}-main

      - name: PHPStan Static Analysis
        run: XDEBUG_MODE=off php vendor/bin/phpstan.phar analyze -vvv

      - name: Save result cache
        uses: actions/cache/save@v5
        if: always()
        with:
          path: var
          key: ${{ steps.phpstan-result-cache.outputs.cache-primary-key }}
